<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- My CSS -->

    <!-- Extra Fonts and Icon -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ULASAN</title>
    <style>
      #col-name {
        text-align: center;
      }
      #col-review {
        text-align: justify;
      }
      .container {
        padding-top: 10vh;
        padding:4em;
      }
      .col-md-4 {
        padding-top: 9.4vh;
      }
      /* .col-md-4 {
        padding-top: 1vh;
      } */
      #ulasanTable {
        margin-top: 2vh;
      }
      * {
        font-family: Poppins;
      }
      .btn-brown {
        color: #ffff;
        background-color: #5C432C;
        border-color: #5C432C;
        font-size: 15px;
      }
      .btn-brown:hover {
        color: #ffff;
      }
      .btn-warning {
        color: #5C432C;
      }
      .btn-warning:hover {
        color: #5C432C;
        text-decoration: none;
      }
      /* #judul {
        text-decoration: underline;
      } */
    </style>
    <!-- <style> 
      textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
      }
      </style> -->


  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col-md-4 ">
            <!-- <h3>Tulis Ulasan</h3> -->
            <button type="button" class="btn btn-brown" onclick="goBack()"><i class="fa fa-arrow-circle-left"></i> Item Details</button>
            <p></p>
            <form id="addUlasan" action="">
              <div class="form-group">
                <textarea class="form-control" name="ulasan" rows="10" placeholder="Tulislah ulasan anda disini" required></textarea>
              </div>
              <button class="btn btn-warning form-control" name="submit-btn" type="submit">Tambah Ulasan Baru!</button>
            </form>
          </div>
          <div class="col-md-8">
            <h2 id="judul">Ulasan untuk <span style="color: #ffcc5c; font-size: larger;">{{ barang }}</span></h2>
            <table id="ulasanTable" class="table">
              <tr>
                <th class="text-center" width="150">PENGULAS</th>
                <th>ULASAN</th>
                <!-- <th>nama_barang</th> -->
                <!-- <th>Tanggal Dibuat</th> -->
                <th width="80"></th> 
              </tr>
              {% if ulasan %}
                {% for data in ulasan %}
                  {% if data.nama_barang == barang %}
                    <tr id="ulasan-{{data.id}}">
                        <td class="table-data" name="pengulasData" id="col-name">{{data.pengulas.username}}</td>
                        <td class="table-data" name="ulasanData" id="col-review">{{data.ulasan}}</td>
                        <!-- <td class="table-data" name="tanggalData">{{data.tanggal_dibuat}}</td> -->
                        <!-- <td class="table-data" name="pengulasData">{{data.nama_barang}}</td> -->
                        {% if data.pengulas.username == user.username %}
                          <td align="center">
                            <button class="btn btn-danger form-control" name="delete-btn" onClick="deleteUlasan({{data.id}})"><i class="fa fa-trash"></i></button>
                          </td>
                        {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
              {% else %}
                Belum ada Ulasan
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script>
        $("form#addUlasan").submit(function() {
            var ulasanInput = $('textarea[name="ulasan"]').val().trim();
            var pathname = window.location.pathname;
            var pathArray = pathname.split('/');
            var namaBarang = pathArray[2];
            var namaDecoded = decodeURI(namaBarang);

            if (ulasanInput) {
                // Create Ajax Call
                $.ajax({
                    url: "/ajax/crud/create/", 
                    data: {
                        'ulasan': ulasanInput,
                        'nama_barang': namaDecoded,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.ulasan) {
                          appendToUsrTable(data.ulasan);
                        }
                    }
                });
              } else {
                alert("Kolom ini harus diisi!");
            }
            $('form#addUlasan').trigger("reset");
            return false;
        });

        function appendToUsrTable(ulasan) {
          $("#ulasanTable > tbody:last-child").append(`
                <tr id="ulasan-${ulasan.id}">
                    <td class="table-data" name="pengulasData" id="col-name">${ulasan.pengulas}</td>
                    <td class="table-data" name="ulasanData" id="col-review">${ulasan.ulasan}</td>
                    `
                    + (ulasan.pengulas == ulasan.userLoggedIn ? 
                    `<td align="center"><button class="btn btn-danger form-control" name="delete-btn" onClick="deleteUlasan(${ulasan.id})"><i class="fa fa-trash"></i></button></td>)`
                    : ``)
                    + `
                </tr>
          `);
        }

        // Delete Ajax Call
        function deleteUlasan(id) {
          var action = confirm("Hapus ulasan ini?");
          if (action != false) {
            $.ajax({
                url: "/ajax/crud/delete/",
                data: {
                    'id': id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                      $("#ulasanTable #ulasan-" + id).remove();
                    }
                }
            });
          }
        }

        // Go back to item detail page
        function goBack() {
              window.history.back();
        }

        // $("form#addUlasan").submit(function() {
        //     var ulasanInput = $('textarea[name="ulasan"]').val().trim();
        //     // var userLoggedIn = Request.user
        //     var pathname = window.location.pathname;
        //     var pathArray = pathname.split('/');
        //     var namaBarang = pathArray[2];
        //     var namaDecoded = decodeURI(namaBarang);

        //     if (ulasanInput) {
        //         // Create Ajax Call
        //         $.ajax({
        //             url: '{% url "crud_ajax_create" %}',
        //             data: {
        //                 'ulasan': ulasanInput,
        //                 // 'username': userLoggedIn,
        //                 'nama_barang': namaDecoded,
        //             },
        //             dataType: 'json',
        //             success: function (data) {
        //                 if (data.ulasan) {
        //                   appendToUsrTable(data.ulasan);
        //                 }
        //             }
        //         });
        //       } else {
        //         alert("Kolom ini harus diisi!");
        //     }
        //     $('form#addUlasan').trigger("reset");
        //     return false;
        // });
        // // function appendToUsrTable(ulasan) {
        // //   $("#ulasanTable > tbody:last-child").append(`
        // //         <tr id="ulasan-${ulasan.id}">
        // //             <td class="table-data" name="pengulasData">${ulasan.pengulas}</td>
        // //             <td class="table-data" name="ulasanData">${ulasan.ulasan}</td>
        // //             {% if ulasan.pengulas != user.username %}
        // //               <td align="center">
        // //                   <button class="btn btn-danger form-control" onClick="deleteUlasan(${ulasan.id})">DELETE</button>
        // //               </td>
        // //             {% endif %}
        // //         </tr>
        // //     `);
        // // }

        

        // function appendToUsrTable(ulasan) { //<td class="table-data" name="pengulasData">${ulasan.nama_barang}</td>
        //   // var the_date = get_date(ulasan.tanggal_dibuat)
        //   $("#ulasanTable > tbody:last-child").append(`
        //         <tr id="ulasan-${ulasan.id}">
        //             <td class="table-data" name="pengulasData" id="col-name">${ulasan.pengulas}</td>
        //             <td class="table-data" name="ulasanData" id="col-review">${ulasan.ulasan}</td>
        //             `
        //             + (ulasan.pengulas == ulasan.userLoggedIn ? 
        //             `<td align="center"><button class="btn btn-danger form-control" name="delete-btn" onClick="deleteUlasan(${ulasan.id})"><i class="fa fa-trash"></i></button></td>)`
        //             : ``)
        //             + `
        //         </tr>
        //   `);
        // }

        // // function get_date(date){
        // //       var monthNames = [
        // //         "January", "February", "March",
        // //         "April", "May", "June", "July",
        // //         "August", "September", "October",
        // //         "November", "December"
        // //       ]
        // //       var date = new Date(date);
        // //       var day = date.getDate();
        // //       var monthIndex = date.getMonth();
        // //       var year = date.getFullYear();
        // //       var hours = addZero(date.getHours());//addZero() function described below
        // //       var minutes = addZero(date.getMinutes());

        // //       return "<i class='fa fa-calendar-o' aria-hidden='true'></i> " + day + " " + monthNames[monthIndex] + " " + year + " " + hours + ":" + minutes; " <i class='fa fa-clock-o' aria-hidden='true'></i> " + hours + ":" + minutes;
        // //   }

        // // function addZero(i) {
        // //     if (i < 10) {
        // //         i = "0" + i;
        // //     }

        // //     return i;
        // // }




        // // Delete Django Ajax Call
        // function deleteUlasan(id) {
        //   var action = confirm("Hapus ulasan ini?");
        //   if (action != false) {
        //     $.ajax({
        //         url: '{% url "crud_ajax_delete" %}',
        //         data: {
        //             'id': id,
        //         },
        //         dataType: 'json',
        //         success: function (data) {
        //             if (data.deleted) {
        //               $("#ulasanTable #ulasan-" + id).remove();
        //             }
        //         }
        //     });
        //   }
        // }
      </script>
  </body>
</html>