{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Hi {{user}} !</title>
</head>
<body>
    <div class="homepage">
        Hello! {{user}} <br>
        <div class="homepage-subtitle">
            You are successfully authenticated
        </div>
        <br>
        Don't forget to log out
        <a href="/logout"><button class="main-button logout-button">LOG OUT</button></a>
    </div>
</body>
</html>
