{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <title>Welcome</title>
</head>
<body>
    <div class="main-login">
        <div class="login-section">
            <div id="logIn" class="auth-section">
                <h1 class="login-header">Log in to your account</h1>
                <div class="error-message"></div>
                <div class="success-message"></div>
                <div class="label-group">
                    <label class="input-label">Username</label>
                    <div class="input-group">
                        <input type="text" placeholder="Type your username" class="input" name="username" autocomplete="off">
                        <img src="{% static 'at.png' %}" class="input-icon" alt="@">
                    </div>
                </div>
                <div class="label-group">
                    <label class="input-label">Password</label>
                    <div class="input-group">
                        <input type="password" placeholder="Type your password" class="input" name="password">
                        <img src="{% static 'lock.png' %}" class="input-icon" alt="lock">
                    </div>
                </div>
                <button class="main-button" id="logInButton">
                    <div class="lds-ring loading-hide"><div></div><div></div><div></div><div></div></div>
                    <div class="button-inner">LOG IN</div>
                </button>
                <a id="createAccountLink" class="create-new">Don't have an account? Create one now!</a>
            </div>
            <div id="signUp" class="auth-section hide">
                <h1 class="login-header">Create new account</h1>
                <div class="error-message"></div>
                <div class="success-message"></div>
                <div class="label-group">
                    <label class="input-label">Username</label>
                    <div class="input-group">
                        <input type="text" placeholder="Type your username" class="input" name="sign_username" autocomplete="off">
                        <img src="{% static 'at.png' %}" class="input-icon" alt="@">
                    </div>
                </div>
                <div class="label-group">
                    <label class="input-label">Email</label>
                    <div class="input-group">
                        <input type="email" placeholder="john@email.com" class="input" name="sign_email">
                        <img src="{% static 'mail.png' %}" class="input-icon" alt="mail"> 
                    </div>
                </div>
                <div class="label-group">
                    <label class="input-label">Password</label>
                    <div class="input-group">
                        <input type="password" placeholder="Type your password" class="input" name="sign_password">
                        <img src="{% static 'lock.png' %}" class="input-icon" alt="lock"> 
                    </div>
                </div>
                
                <button class="main-button" id="signUpButton">
                    <div class="lds-ring loading-hide"><div></div><div></div><div></div><div></div></div>
                    <div class="button-inner">SIGN UP</div>
                </button>
                <a id="loginLink" class="create-new">Already have an account? Click here to log in</a>
            </div>
        </div>
    </div>
</body>
</html>
