.container {
    padding-top: 10vh;
    padding:4em;
}

.container h1 {
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }


/* Ngatur isi ulasan */
.table-data {
    text-align: center;
}