body{
    margin:0px;
}

body, div, h1, h2, h3, h4, h5, span, a, button, input{
    font-family: 'Montserrat', sans-serif;
}

.main-login{
    /* width: 100vw;
    height:100vh;
    display:flex;
    flex-direction: row;
    overflow:hidden; */

 
    width:50vw;
    padding:100px;
    margin-left: auto;
    margin-right: auto;
    
    
}

/* #page-wraper {
    width: 800px;
    margin: 0 auto;
} */

.content-section{
    background-color:#ffe866;
    width:60vw;
    height: 100vh;;
}

.login-header{
    margin-bottom:20px;
}

.login-section{
    display:flex;
    flex-direction: column;
    width:30vw;
    height:100vh;
    padding:60px;
    padding-top:70px;
}

.input-label{
    font-weight: 500;
}

.label-group{
    margin-top:14px;
    margin-bottom:14px;
}

.input{
    padding:10px;
    border-width: 0px;
    width: 100%;
    font-weight: 700;
    color:gray;
}

.input-group{
    border-radius: 2px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color:gray;
    border-style:solid;
    padding:10px;
    padding-left:0px;
    padding-right:0px;
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.05s;
}

.input-group:focus-within{
    border-color: #ffe001;
    border-bottom-width: 3px;
}

.input-icon{
    height:17px;
}

.main-button{
    margin-top:40px;
    width:80%;
    background-color: #ffe001;
    padding:15px;
    font-weight: 700;
    font-size: 14px;
    border-radius:10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
}

.main-button:hover{
    background-color: rgb(255, 208, 0);
}

.hand{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: block;
}

.create-new{
    color:gray;
    font-size: 12px;
    margin-top:25px;
    cursor: pointer;
}

.auth-section{
    display:flex;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    opacity: 1;
    visibility: visible;
    width: 400px;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.error-message{
    color:red;
    font-weight: 700;
    padding:20px;
    margin:5px;
    margin-left: 0px;
    background-color: rgb(255, 239, 239);
    border-radius: 10px;
    display: none;
}

.success-message{
    color:green;
    font-weight: 700;
    padding:20px;
    margin:5px;
    margin-left: 0px;
    background-color: rgb(234, 255, 234);
    border-radius: 10px;
    display: none;
}

.homepage{
    width:50vw;
    padding:100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    font-weight: 700;
}

.homepage-subtitle{
    font-size: 36px;
}

.logout-button{
    font-size: 30px;
}
.homepage a{
    text-decoration: none;
}
